
/* *{
    font-family: monospace;
    transition: all 200ms ease-in-out;
    margin: 0;
    padding: 0;
} */
/* start nav */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: black;
}
.menu a{
    margin-right: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.menu a:hover{
    color: rgb(65, 166, 255);
    animation-delay: 1s;
}
.menu i{
    font-size: xx-large;
}
.logo img{
    width: 150px;
    height: 50px;
}
/* end navi */

/* start body */
h1{
    text-align: center;
}
.btns{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
}
.name{
    flex: 4;
    text-align: center;
}
.img{
    flex: 1;
}
.img img{
    width: 300px;
    height: 120px;
    border-radius: 10px;
}
.club{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    box-shadow: 2px 2px 2px 2px #888;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}







    /* footer */
    .footer {
        background: black;
        text-align: center;
        height: 100px;
        width: 100%;
        margin-top: 40px;
      }
      .hm-footer-copyright p,.hm-footer-copyright p a {
        color:black;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
      }
      .footer-social a i {
        color: white;
        margin: 0 18px 24px 0;
        -webkit-transition: .3s; 
        -moz-transition:.3s; 
        -ms-transition:.3s; 
        -o-transition:.3s;
        transition: .3s;
        margin-top: 20px;
      }
      .footer p{
        color: white;
        font-family: 'Open Sans', sans-serif;
      }
      .footer-social i:hover{
        color:rgb(65, 166, 255) ;
      }