*{
    background: none;
    font-family:sans-serif;
    overflow-x: hidden;
}
::-webkit-scrollbar{display: none;}


ul{
    transform: translateY(-10px);
    margin: auto;
    margin-bottom: 5PX;
    width: 80%;
    padding: 10px 10px;
    box-shadow: #888 2px 2px 4px 2px;
    border-radius: 10px;
}

li{
    margin: auto;
    width: 80%;
    list-style: none;
}
/* start nav */
body{
    
    margin: 0px;
    /* background-image: url('../background.jpg');   */
}
body.background{
    opacity: 60%;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: black;
    box-shadow: 10px 5px 10px rgb(0,0,0,0.3);
    border-radius: 5px;
}
.uil {
    margin-right: 10px;
    color: white;

    cursor: pointer;
}
.menu{
    width: 320px;
}
.menu :hover{
    color: rgb(65, 166, 255);
    animation-delay: 1s;
}
.menu a{
    color: white;
    font-family: sans-serif;
    padding-left: 8%;
    text-decoration: none;
}
.btnlog{
    cursor: pointer;
    color: white;
    background-color: rgb(47, 113, 254);
    border: none;
    border-radius: 2px;
    margin-left: 20px;
    padding: 7px 15px;
}
.logo img{
    margin-left: 30px;
    width: 150px;
    height: 50px;
}
.sign-box{

    position: fixed;
    align-items: center;
    top: 12.7%;
    width: 20%;
    right:-200%;
    height: 250px;
    padding: 1%;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px;
    border-radius: 10px;
    transition: 0.5s;
}
.active-box{
    right:0.5%;
}
.signinform{
    text-align: center;

}

.signinform p {
    font-size: 70%;
    line-height: 20px;
}

.signinform input{
    margin-top: 20px;
}
.signinform button{
    margin-top: 20px;
}

.signinform .connect{
    background-color: #2f5efa;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 3% 7%;
    cursor: pointer;
}
.text{
    /* display: flex; */
    /* justify-content: center; */
    
    max-width: 80%;
    margin-left: 10%;
}

/* end navi */
.contenu{
    text-align: center;
    
}
h1, h3{
    text-align: center;

}

.cont{
    
    width: 350px;
    box-shadow: 10px 10px 5px 5px #888;
    padding: 5px;
    border-radius: 5px;
    height: 400px;
    overflow:scroll;
    margin-left: 3%;
    border: solid rgb(217, 215, 215);
    margin-bottom: 20px;

}
/* .club{
    flex: 1;
    padding-left: 10px; 
} */

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    align-items: center;
    margin-top: 5%;
    gap: 30px;
}
.club p{
    transform: translateY(-10px);
    margin: 0;
    box-shadow: #888 2px 2px 4px 2px;
    border-radius: 10px;
    opacity: 0.8;
    text-align: center;
    width: 80%;
    padding: 10px 10px;
    margin: auto;
}
.container img{
    width: 60%;
    object-fit: fill;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
} 

/* footer */
.footer{
    border-radius: 5px;
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    padding-top: 5px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
    margin-top: 100px;

  }
  .footer a{
    color: rgb(65, 166, 255);
    text-decoration: none;
   

  }
  .copyright{
    margin-top: 10px;
    margin-left: 30px;
  }
