*{
    font-family: sans-serif;
}

/* start nav */
body{
    margin: 0px;  
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: black;
}
.nav .menu{
    padding-right: 5% !important;
}
.menu a{
    margin-right: 10px;
    color: white;
    text-decoration: none;

}
.menu a:hover{
    color: rgb(65, 166, 255);
    animation-delay: 1s;
}
.menu i{
    font-size: xx-large;
}
.logo img{
    width: 150px;
    height: 50px;
}
/* end navi */