*{
    font-family: sans-serif;
}

/* start nav */
body{
    margin: 0px;  
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: black;
}
.menu a{
    margin-right: 10px;
    color: white;

}
.menu a:hover{
    color: rgb(65, 166, 255);
    animation-delay: 1s;
}
.menu i{
    font-size: xx-large;
}
.logo img{
    width: 150px;
}
/* end navi */
h1{
    text-align: center;
}
.descr p{
    font-size: x-large;
}
input{
    width: 350px;
    height: 30px;
    box-shadow: 2px 2px 2px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.forms{
    margin-right: 200px;
} 
/* karim */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    scroll-behavior: smooth;
}

/* body{
    width: 100%; 
    overflow-x: hidden; 
} */
html{
    font-size: 100%;
}

p{
    font-weight: 300;
    color: black;
    text-align: center;
}
 /* ----- Start Style Nav-bar ----- */
/* .logo{
    color: black;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
}
.logo span{
    color: #FF4612;
} */
/* .navbar{
    display: flex;  
    position: relative;
    width: 70%;
}
.navbar li{
    list-style: none;
} */

header a{
    color: black;
    text-decoration: none;
    /* margin-left: 80px; */
    font-weight: 700;
}

/* ------- sign in --------- */

.connect{
    background-image: url(/background-signin.jpg);
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0, 0,0, 0.8);
    width: 100%;
    background-position: unset;
    padding: 8% 0%;

}
.signinform{

    position: relative;
    left: 30%;
    border-radius: 10px;
    padding: 35px 50px;
    background: white;
    box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.8);

    justify-content: center;
    align-items: center;
    width: 40%;
    height: 350px;
    /* margin-left: 25%; */
}
.signinform h3{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 30px;
}
.signinform p{
    font-weight: 500;
    font-size: 100%;
    color: #3153ff;
    margin-bottom: 20px;
}

.signinform .inputboite{
    
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 10%;
}

.signinform .inputboite input {
    width: 80%;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 300;

}


.signinform .inputboite input[type="submit"] {
    font-size: 1em;
    font-weight: 700;
    color: white;
    background-color: #3153ff;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    outline: none;
    border: none;
    transition: 0.5s;
    max-width: 120px;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
}

/* footer */
.footer {
    border-radius: 5px;
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    padding-top: 5px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
    margin-top: 100px;
}
.hm-footer-copyright p,.hm-footer-copyright p a {
    color:black;
    font-size: 14px;
    font-weight: 400;
}
.footer-social a i {
    color: white;
    margin: 0 18px 24px 0;
    -webkit-transition: .3s; 
    -moz-transition:.3s; 
    -ms-transition:.3s; 
    -o-transition:.3s;
    transition: .3s;
    margin-top: 20px;
}
.footer p{
    color: white;
}
.footer-social i:hover{
    color:rgb(65, 166, 255) ;
}
